<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WpfHexEditor.Sample.MVVM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
    <userSettings>
        <WpfHexEditor.Sample.MVVM.Properties.Settings>
            <setting name="ApplicationName" serializeAs="String">
                <value>WPF HexaEditor Control</value>
            </setting>
            <setting name="HeaderVisibility" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReadOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrollVisibility" serializeAs="String">
                <value>True</value>
            </setting>
        </WpfHexEditor.Sample.MVVM.Properties.Settings>
    </userSettings>
</configuration>
